<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Harmful Comment Detection</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>    
</head>
<body>
    <h1>Harmful Comment Detection</h1>
    <form method="post">
        <input type="text" name="comment" placeholder="Enter a comment..." required>
        <button type="submit">Vérifier</button>
    </form>
    
    {% if prediction %}
        <h2>{{ prediction }}</h2>
    {% endif %}
</body>
</html>
